footer {
    @include display-flex;
    background-color: #292929;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
    align-content: center;
    .notes {
        font-size: 0.8em;
        text-align: center;
        flex-basis: 80%;
    }
    .holder {
        font-size: 1.5em;
        color: black;
        display: inline-block;
        height: 50px;
        width: 50px;
        line-height: 50px;
        // padding: 25px;
        background-color: $basic-color;
    }
}